<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--<property name="connection.url">jdbc:postgresql://localhost:5432/provider_eav</property>-->
        <!--<property name="connection.driver_class">org.postgresql.Driver</property>-->
        <property name="connection.datasource">java:/PostgresEav</property>
        <mapping class="model.dao.impl.hibernate.eav.ClientsEntity"/>
        <mapping class="model.dao.impl.hibernate.eav.ServiceAttributeTypesEntity"/>
        <mapping class="model.dao.impl.hibernate.eav.ServiceAttributesEntity"/>
        <mapping class="model.dao.impl.hibernate.eav.ServiceTypesEntity"/>
        <mapping class="model.dao.impl.hibernate.eav.ServiceValueCatalogEntity"/>
        <mapping class="model.dao.impl.hibernate.eav.ServiceValuesEntity"/>
        <mapping class="model.dao.impl.hibernate.eav.ServicesEntity"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>